{
  "extends": "airbnb-base",
  "rules": {
    // Identificadores _id
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],

    // Console.log
    "no-console": ["warn", { "allow": ["log"] }],

    // Saltos de línea
    "linebreak-style": "off"
  }
}
